.product-image
{
	margin-left:15%;	
}
.img
{	
		margin-top:50px;
		height:40%;
		width:75%;
}
h1
{
	font-size:30px;
}

.strike
{
	text-decoration:line-through;
	color:red;
	font-size:20px;	
}
.price
{
	color:blue;
	font-size:20px;
}
.itemdes
{
	font-size:17px;
	font-style:"Times New Roman";
}
.btn
{
	height:7%;
	width:15%;
	margin-left:80%;
	color:blue;
	font-size:25px;
}

@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)
{
	.product-image
	{
	margin-left:15%;	
	}
.img
{	
		margin-top:50px;
		height:60%;
		width:70%;
}
h1
{
	font-size:30px;
}

.strike
{
	text-decoration:line-through;
	color:red;
	font-size:20px;	
}
.price
{
	color:blue;
	font-size:20px;
}
.btn
{
	height:7%;
	width:15%;
	margin-left:80%;
	color:blue;
	font-size:25px;
}
}